/*
Theme Name: Enfold Child
Description: A <a href='http://codex.wordpress.org/Child_Themes'>Child Theme</a> for the Enfold Wordpress Theme. If you plan to do a lot of file modifications we recommend to use this Theme instead of the original Theme. Updating wil be much easier then.
Version: 1.0.5
Author: Kriesi
Author URI: http://www.kriesi.at
Template: enfold
*/



/*Add your own styles here:*/


.add_to_wishlist {
width: 21px;
    float: left;
}
.yith-wcwl-add-to-wishlist {
    margin-top: 6px;
}

.single-product-summary .yith-wcwl-add-button a, .single-product-summary .yith-wcwl-wishlistexistsbrowse a{
	float: left;
    width: 100%;
}
.yith-wcwl-add-to-wishlist{display: none;}
form .yith-wcwl-add-to-wishlist{display: block;}
.inner_product_header .yith-wcwl-add-to-wishlist{display: block;}
form .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse{float: left;
    width: 100%;}
.header-wishlist{color: #de5021; font-size: 17px;}

ul.variable-items-wrapper .variable-item:not(.radio-variable-item) {
    width: 45px;
    height: 45px;
}
ul.variable-items-wrapper .button-variable-item span {
    font-size: 13px;
    white-space: nowrap;
}
.woocommerce form.login .lost_password{
    top: 0;
    left: 0;
}
.form-row.woocommerce-invalid input {
    border: 1px solid red !important;
}
.woocommerce .wpmc-error{
    position: static;
    display: flex;
    margin-top: 10px;
}
.woocommerce .wpmc-tabs-wrapper{
    display: inline-block;
}
.wpmc-error ul.woocommerce-error{
    padding-right: 36px;
    width: 100%;
}
#wpmc-back-to-cart {
    display: none;
}
#chart-button{
    background-color: #de5021;
    color: #ffffff !important;
    border-color: #bc3000;
    padding: 15px;
    line-height: 1em;
    font-size: 12px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    min-width: 130px;
}
.chart-content .chart-content-list{
    width: 100%;
}
.button-wrapper {
    margin-top: 10px;
}
.xoo-cp-hdtxt {
    text-align: center;
    font-weight: 600;
}
td.xoo-cp-ptitle a{
    font-size: 14px;
}
.xoo-cp-variations .variation dd{
    font-size: 12px;
}
.xoo-cp-pimg img{
    max-width: 60px;
}
table.xoo-cp-cart th{
    font-size: 13px;
}
#top .xoo-cp-qtybox input[type="number"]{
    font-size: 16px;    
}
tr.xoo-cp-ths th{
    line-height: 18px;
}
table.xoo-cp-cart tr:last-child {
    border-color: #000;
}
table.xoo-cp-cart{
    border-right: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
}
table.xoo-cp-cart td{
    font-size: 14px;
    padding-right: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type="number"] {
    -moz-appearance: textfield !important;
}
.xoo-cp-rel-prods a {
    color: #333;
}
a.xcp-btn{
    width: 26%;
}
a.xcp-btn:hover{
    text-decoration: none;
}
.xoo-cp-rel-prods .add_to_cart_inline a.button{
    background-color: #de5021;
    color: #ffffff;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #de5021;
    float: none;
    padding: 10px 20px;
}
.xoo-cp-cart-total{
    display: none;
}
.xoo-cp-cart-table-cont{
    padding-top: 20px;
}
@media only screen and (max-width: 768px){
    a.xcp-btn{
        width: auto;
    }
}


.wpmc-footer-right.wpmc-nav-buttons {
	width: 100%;
}
#wpmc-next,
#wpmc-skip-login {
	float: right;
}
#top #payment #place_order {
	padding: 15px 45px;
}
.wpmc-nav-buttons button.button {
	background-color: transparent !important;
	border: 2px solid #de5021 !important;
    color: #de5021 !important;
    line-height: .8em;
	font-weight: bold;
}





.sidebar_left .widgettitle{
    text-align: left;
}
#top .widget ul.product-categories {
    padding-left: 0;
}
#top .widget ul li a,
.main_color .sidebar a{
    color: #444;
    font-size: 14px;
}
#top .widget ul li a:hover{
    text-decoration: none;
    color: #de5021;
}
.entry-content-wrapper div li{
    list-style-type: none;
    margin-left: 0;
}
.flex_column .widget .widgettitle, 
.sidebar_left .widgettitle,
.content .widget .widgettitle{
    border-bottom: 1px dashed  #ccc;
    padding-bottom: 5px;
}
.design1 .woochimp_skin_general .woochimp_shortcode_content {
    border: 0;
    width: 90%;
}
.design1 .woochimp_skin_general .woochimp_shortcode_content tbody,
.design1 .woochimp_skin_general .woochimp_shortcode_content th {
    text-align: center;
    font-family: 'PT Sans','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.design1 .woochimp_skin_general,
.design1 .woochimp_skin_general .woochimp_shortcode_content input[type="text"]{
    margin-bottom: 5px;
}
.design1 .woochimp_skin_general .woochimp_shortcode_content button{
    float: none;
    background-color: #e23900;
    border-color: #e23900;
    color: #ffffff;
    padding: 12px 30px;
}
.wmpci-popup-wrp .wmpci-popup-close{
    background-image: url('images/cross.png');
    right: -2px;
    top: 8px;
}
.design1 .woochimp_skin_general .woochimp_shortcode_content form,
.design1 .woochimp_skin_general .woochimp_shortcode_content table{
    width: 100%;
}

.design1.wmpci-popup-wrp .wmpci-popup-body {
    background-image: url(https://d1uzfncnoips25.cloudfront.net/wp-content/uploads/2018/08/07230630/Grit-background5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.design1 .woochimp_skin_general .woochimp_shortcode_content th {
    font-size: 20px;
    font-weight: 600;
}
@media (max-width: 520px){
    .design1.wmpci-popup-wrp .wmpci-popup-body{max-width: 85%;}
}
@media (max-width: 420px){
    .design1 .woochimp_skin_general .woochimp_shortcode_content{padding:0; width: 100%;}
}
